{% load sub_funcs %}
{% if user.is_authenticated %}
    {% is_listed item request.user as in_cart %}
{% else %}
    {% is_in_session_cart request item.id as in_session %}
{% endif %}
{% if user.is_authenticated %}
    {% if in_cart or in_session %}
        <button class="button button_style_light-blue-outline"
                name="purchases"><span
                class="icon-check button__icon"></span>Убрать из покупок
        </button>
    {% else %}
        <button class="button button_style_light-blue" name="purchases" 
            data-out><span 
            class="icon-plus button__icon"></span>Добавить в покупки
        </button>
    {% endif %}
{% else %}
    <a href="{% url "login" %}">
        <button class="button button_style_light-blue" name="purchases" 
                data-out><span 
                class="icon-plus button__icon"></span>Добавить в покупки
        </button>
    </a>
{% endif %}