{% load sub_funcs %}
{% if user.is_authenticated %}
    {% followed request.user author as follow %}
    {% if follow %}
        <a href="{% url 'profile_unfollow' author.username %}">
            <button  class="button button_style_light-blue button_size_subscribe"
                name="subscribe" data-out="true">
                Отписаться
            </button>
        </a>
    {% else %}
        <a href="{% url 'profile_follow' author.username %}">
            <button class="button button_style_light-blue button_size_subscribe button_style_blue"
                name="subscribe">
                Подписаться
            </button>
        </a>
    {% endif %}
{% else %}
    <a href="{% url "login" %}">
        <button class="button button_style_light-blue
            button_size_subscribe" name="subscribe_not_logged" data-out="true">
            Подписаться
        </button>
    </a>
{% endif %}
