{% load sub_funcs %}
{% if user.is_authenticated %}
    {% if request.user|followed:author %}
        <button  class="button button_style_light-blue button_size_subscribe"
            name="subscribe">
            Отписаться от автора
        </button>
    {% else %}
        <button class="button button_style_light-blue button_size_subscribe"
            name="subscribe" data-out>
            Подписаться на автора
        </button>
    {% endif %}
{% else %}
    <a href="{% url "login" %}">
        <button class="button button_style_light-blue button_size_subscribe"
            name="subscribe" data-out>
            Подписаться на автора
        </button>
    </a>
{% endif %}


