{% extends "base.html" %}
{% load user_filters %}
{% load static %}
{% block main_css %}/static/pages/form.css{% endblock %}
{% block title %}Изменить пароль{% endblock %}
{% block header %}
    <h1 class="main__title">Изменить пароль</h1>
{% endblock %}
{% block content %}
        <div class="form-container">
            <form class="form" method="post">
                {% csrf_token %}
                {% include 'includes/user_form.html' %}
                <div class="form__footer">
                    <button class="button button_style_blue">Изменить пароль</button>
                    
                </div>
            </form>
        </div>

{% endblock %}