{% extends "base.html" %}
{% load user_filters %}
{% load static %}
{% load cache %}
{% block title %}Избранное{% endblock %}


{% block content %}
    {% include "includes/nav.html" with favorites=True %}
    <link rel="stylesheet" href="{% static "pages/index.css" %}">
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">{% block header %}Избранное{% endblock %}</h1>
            {% include "includes/tags.html" with path="favorite/" %}
        </div>
        <div class="card-list">
            {% for item in page %}
                {% include "includes/item_card.html" %}
            {% endfor %}
        </div>
        {% if page %}
            {% include "includes/pagination.html" with items=page paginator=paginator %}
        {% endif %}
    </main>
{% endblock %}