{% extends "base.html" %}
{% load user_filters %}
{% load static %}
{% load cache %}
{% block title %}Избранное{% endblock %}

{% block header %}Избранное{% endblock %}
{% block content %}
    <main class="main container">
        
        <div class="card-list">
            {% for item in page %}
                {% include "includes/item_card.html" with item=item %}
            {% endfor %}
        </div>
        {% if page %}
            {% include "includes/pagination.html" with items=page paginator=paginator %}
        {% endif %}
    </main>
{% endblock %}