{% extends "base.html" %}
{% load user_filters %}
{% load static %}
{% load cache %}
{% block main_css %}/static/pages/myFollow.css{% endblock %}
{% block title %}Подписки{% endblock %}
{% block header %}
    <h1 class="main__title">Подписки</h1>
{% endblock %}
{% block content %}        
        <div class="card-list">
            {% for author in page %}
                {% include "includes/user_card.html" with author=author %}
            {% endfor %}
        </div>
        {% if page %}
            {% include "includes/pagination.html" with items=page paginator=paginator %}
        {% endif %}
{% endblock %}