{% extends "base.html" %}
{% load user_filters %}
{% load static %}
{% load cache %}
{% block title %}Избранное{% endblock %}


{% block content %}
    {% include "includes/nav.html"  with new=True %}
    <link rel="stylesheet" href="{% static "pages/form.css" %}">
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">{% if edit %}Редактировать рецепт{% else %}Создать рецепт{% endif %}</h1>
        </div>
        <span class="form-container">
            <form class="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
                    {% comment %} {% for error in form.errors %}
                        {{ error }}
                    {% endfor %} {% endcomment %}
            <div class="form__group">
                <label for="id_name" class="form__label">Название рецепта</label>
                <div class="form__field-group">
                    <input type="text" id="id_name" name="title" class="form__input">
                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__group">
                <p class="form__label">Теги</p>
                <div class="form__field-group">
                    <div class="tags">
                            <div class="tags__item">
                                <input type="checkbox" name="tags"
                                       id="id_tags_0" value="1"
                                       class="tags__checkbox tags__checkbox_style_orange"
                                       {% if 1 in form.tags.value %}checked{% endif %}>
                                <label for="id_tags_0" class="tags__label">Breakfast</label>
                            </div>
                            <div class="tags__item">
                                <input type="checkbox" name="tags"
                                       id="id_tags_1" value="2"
                                       class="tags__checkbox tags__checkbox_style_green"
                                       {% if 2 in form.tags.value %}checked{% endif %}>
                                <label for="id_tags_1" class="tags__label">Lunch</label>
                            </div>
                            <div class="tags__item">
                                <input type="checkbox" name="tags"
                                       id="id_tags_2" value="3"
                                       class="tags__checkbox tags__checkbox_style_purple"
                                       {% if 3 in form.tags.value %}checked{% endif %}>
                                <label for="id_tags_2" class="tags__label">Dinner</label>
                            </div>
                    </div>
                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__group">
                <label for="nameIngredient" class="form__label">Ингредиенты</label>
                <div class="form__field-group">
                    <div class="form__field-group-ingredientes">
                        <div class="form__dropdown">
                            <input type="text" id="nameIngredient" class="form__input">
                            <div class="form__dropdown-items"></div>
                        </div>
                        <input type="number" id="cantidad" class="form__input" min="0">
                        <label for="cantidad" class="form__label" id="cantidadVal">шт.</label>
                    </div>
                    <div class="form__field-group-ingredientes-container">

                    </div>
                    <span class="form__ingredient-link" id="addIng">Добавить ингредиент</span>
                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__group">
                <label for="id_time" class="form__label">Время приготовления</label>
                <div class="form__field-group form__field-group_time">
                    <input type="text" id="id_time" name="cooktime" class="form__input">
                    <label for="id_time" class="form__label">минут</label>
                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__group">
                <label for="id_description" class="form__label">Описание</label>
                <div class="form__field-group">
                    <textarea name="description" id="id_description" rows="8" class="form__textarea"></textarea>
                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__group">
                <span class="form__label">Загрузить фото</span>
                <div class="form__field-group">
                    <input type="file" name="image" id="id_file">
                    <span class="form__error"></span>
                </div>
            </div>

                <div class=" form__footer">
                    <button class="button button_style_blue">Сохранить</button>
                        {% if edit %}
                            <a style="margin-left: 2.5em" href="
                        {{ request.get_full_path }}delete/"
                               class="form__ingredient-link">Удалить</a>
                        {% endif %}
                </div>
            </form>

        </span>
    </main>
{% endblock %}
{% block js %}
    <script src="/static/js/config/config.js"></script>
    <script src="/static/js/components/Header.js"></script>
    <script src="/static/js/utils/debouncing.js"></script>
    <script src="/static/js/api/Api.js"></script>
    <script src="/static/formRecipe.js"></script>
{% endblock %}