{% extends "base.html" %}
{% load user_filters %}
{% load static %}
{% load cache %}
{% block main_css %}/static/pages/form.css{% endblock %}
{% block title %}{% if edit %}Редактировать рецепт{% else %}Создать рецепт{% endif %}{% endblock %}
{% block header %}
    <h1 class="main__title">{% if edit %}Редактировать рецепт{% else %}Создать рецепт{% endif %}</h1>
{% endblock %}
{% block content %}
        <span class="form-container">
            <form class="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form__group">
                <label for="id_name" class="form__label">Название рецепта</label>
                <div class="form__field-group">
                    <input type="text" id="id_name" name="title" class="form__input" {% if form.title.value != None %}value={{ form.title.value }} {% endif %} >
                    <span class="form__error">{{ form.title.errors }}</span>
                </div>
            </div>
            <div class="form__group">
                <p class="form__label">Теги</p>
                <div class="form__field-group">
                    <div class="tags">
                        {% for tag in all_tags %}
                            <div class="tags__item">
                                <input type="checkbox" name="tags"
                                       id="id_tags_{{tag.id}}" value="{{tag.id}}"
                                       class="tags__checkbox tags__checkbox_style_{{tag.color}}"
                                       {% if tag.id in form.tags.value %}checked{% endif %}>
                                <label for="id_tags_{{tag.id}}" class="tags__label">{{tag.name}}</label>
                            </div>
                        {% endfor %}
                    </div>
                    <span class="form__error">{{ form.tags.errors }}</span>
                </div>
            </div>
            <div class="form__group">
                <label for="nameIngredient" class="form__label">Ингредиенты</label>
                <div class="form__field-group">
                    <div class="form__field-group-ingredientes">
                        <div class="form__dropdown">
                            <input type="text" id="nameIngredient" class="form__input" >
                            <div class="form__dropdown-items"></div>
                        </div>
                        <input type="number" id="cantidad" class="form__input" min="0">
                        <label for="cantidad" class="form__label" id="cantidadVal">шт.</label>
                    </div>
                    <div class="form__field-group-ingredientes-container">

                    </div>
                    <span class="form__ingredient-link" id="addIng">Добавить ингредиент</span>
                    <span class="form__error">{{ form.ingredients.errors }}</span>
                </div>
            </div>
            <div class="form__group">
                <label for="id_time" class="form__label">Время приготовления</label>
                <div class="form__field-group form__field-group_time">
                    <input type="text" id="id_time" name="cooktime" class="form__input" {% if form.cooktime.value != None %}value={{ form.cooktime.value }} {% endif %}>
                    <label for="id_time" class="form__label">минут</label>
                    <span class="form__error">{{ form.cooktime.errors }}</span>
                </div>
            </div>
            <div class="form__group">
                <label for="id_description" class="form__label">Описание</label>
                <div class="form__field-group">
                    <textarea name="description" id="id_description" rows="8" class="form__textarea" >{% if form.cooktime.value != None %}{{ form.description.value }}{% endif %}</textarea>
                    <span class="form__error">{{ form.description.errors }}</span>
                </div>
            </div>
            <div class="form__group">
                <span class="form__label">Загрузить фото</span>
                <div class="form__field-group">
                    <label for="id_file" class="form__file-button">Выбрать файл</label>
                    <input type="file" class="form__file" name="image" id="id_file">
                    <span class="upload-path"></span>
                    <span class="form__error">{{ form.image.errors }}</span>
                </div>
                {% comment %} <div class="browse-wrap">
                    <div class="title">Choose a file to upload</div>
                    <input type="file" name="upload" class="upload" title="Choose a file to upload">
                </div>
                <span class="upload-path"></span> {% endcomment %}
            </div>

                <div class=" form__footer">
                    <button class="button button_style_blue">Сохранить</button>
                        {% if edit %}
                            <a style="margin-left: 2.5em" href="{% url 'delete' recipe.id %}"
                               class="form__ingredient-link">Удалить</a>
                        {% endif %}
                </div>
            </form>
            
        </span>
{% endblock %}
{% block js %}
    <script src="/static/js/config/config.js"></script>
    <script src="/static/js/components/Header.js"></script>
    <script src="/static/js/utils/debouncing.js"></script>
    <script src="/static/js/api/Api.js"></script>
    <script src="/static/formRecipe.js"></script>
{% endblock %}