{% extends "base.html" %}
{% load user_filters %}
{% load static %}
{% load cache %}
{% block title %}Список покупок{% endblock %}


{% block content %}
    {% include "includes/nav.html"  with shop_list=True %}
    <link rel="stylesheet" href="{% static "pages/shopList.css" %}">
    <main class="main container">
        {% csrf_token %}
        <div class="main__header">
            <h1 class="main__title">Список покупок</h1>
        </div>
        <div class="card-list card-list_column">
            <ul class="shopping-list">
                {% for item in recipes %}
                    <li class="shopping-list__item" data-id="{{ item.id }}">
                        <div class="recipe recipe_reverse">
                            <img src="{% if item.image %}{{ item.image.url }}{% else %}/static/nophoto.jpg{% endif %}"
                                 alt="{{ item.title }}"
                                 class="recipe__image recipe__image_big">
                            <h3 class="recipe__title">{{ item.title }}</h3>
                            <p class="recipe__text"><span
                                    class="icon-time"></span> {{ item.cooktime }}
                                мин.</p>
                        </div>
                        <a href="{% url "remove_from_list" item.id %}" class="shopping-list__button link">убрать из покупок</a>
                    </li>
                {% endfor %}
            </ul>
            <a href="{% url "pdf" %}">
                <button class="button button_style_blue">Загрузить в PDF
                </button>
            </a>


        </div>
    </main>
{% endblock %}
{% block js %}
    <script src="/static/js/config/config.js"></script>
    <script src="/static/js/components/Header.js"></script>
    <script src="/static/js/components/ShopList.js"></script>
    <script src="/static/js/api/Api.js"></script>
    <script src="/static/shopList.js"></script>
{% endblock %}