<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <style>
        a { 
            text-decoration: none;
        } 
    </style>
    <link rel="stylesheet"
          href="{% block main_css %}/static/pages/index.css{% endblock main_css %}">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon"/>
</head>
<body class="body">
{% include "includes/nav.html" %}
<main class="main container">
<div class="main__header">
    {% block header %}
        <h1 class="main__title"></h1>
    {% endblock %}
</div>
{% block content %}
{% endblock content %}
</main>

{% include 'includes/footer.html' %}
{% block js %}
    <script src="/static/js/components/MainCards.js"></script>

    <script src="/static/js/components/Purchases.js"></script>
    <script src="/static/js/components/Favorites.js"></script>

    <script src="/static/js/config/config.js"></script>
    <script src="/static/js/components/CardList.js"></script>
    <script src="/static/js/components/Header.js"></script>

    <script src="/static/js/api/Api.js"></script>

    <script src="/static/indexAuth.js"></script>


{% endblock %}
</body>
</html>